name: "Generete commit on push"

on:
    push:
        branches: main

permissions:
    contents: write

jobs:
    GenerateExistVideos:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Run
              run: bun .scripts/app.ts

            - name: Read commit message
              id: read_commit
              run: |
                  COMMIT_MSG=$(cat commit)
                  echo "message=$COMMIT_MSG" >> "$GITHUB_OUTPUT"

            - name: Check if commit change
              if: steps.read_commit.outputs.message != ''
              run: |
                  git config --local user.email "github-actions[bot]@users.noreply.github.com"
                  git config --local user.name "github-actions[bot]"

                  git add .

                  COMMIT_MSG=$(cat commit)
                  git commit -m "$COMMIT_MSG"
                  git push
